*{
    box-sizing: border-box;
}
/* text font */
body {
    font-family: 'Crimson Text', serif;
    background-image: url(https://wallpaperaccess.com/full/336765.jpg);
    color: red;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
/* connect 4 board vr 1 */
#board{
    /* connect board  */
    background-color: darkgreen;
    border: 5px solid greenyellow;

/* still fixing height: */
    height: 640px;
    width: 730px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}