/* *{
    box-sizing: border-box;
}
/* text font */

/* connect 4 board vr 1 */

/* body {
    font-family: 'Crimson Text', serif;
    background-image: url(https://wallpaperaccess.com/full/336765.jpg);
    color: red;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center; */


/* board {
    /* connect board  */
    /* display: grid;
    background-color: darkgreen;
    border: 5px solid greenyellow; */

/* still fixing height: */
    /* height: 640px;
    width: 730px;
    margin:0 auto;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;

    
    //Version 2: works way better for my js
    //vw and vh are length units representing 1% of the viewport size for viewport width (vw) and height (vh), respectively.
    //using the commands vh and vmin and etc makes it work with the browsers size.
    /*  */
    * {
        box-sizing: border-box;
      }
      
    body {
        font-family: 'Crimson Text', serif;
        height: 100vh;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: darkgreen;
        background-image: url('https://wallpaperaccess.com/full/336765.jpg');
        background-size: cover;
        background-position: center;
        position: relative;
    
        }
    
    main {
        display: grid;
        grid-template-columns: 80% 20%;
        gap: 10%;
        justify-content: center;
        align-items: center;
    }
      
    #square {
        display: grid;
        grid-template-columns: repeat(10, 9.2vmin);
        gap: 2.99vmin;
        margin-bottom: 2vmin;
        color: black;
      }
      
    #square > div {
        height: 16vmin;
        border-width: 10vmin;
        border-style: solid;
        border-color: black (27, 1, 92);
        transform: scale(0.4);
        border-radius: 10%;
        margin: 10px;
        /* border-bottom-right-radius: 50%; */
    
    
      }
      
    #square > div:hover {
        transform: scale(0.4);
        transition: transform 150ms scale(1.5) ease-in;
        border-top-color: darkgray;
        border-top: 0;
        border-bottom: 0;
        border-left: 0%;
        /* background-color: white; */
        
      }
      
    #board {
        display: grid;
        grid-template-columns: repeat(7, 10vmin);
        grid-template-rows: repeat(6, 10vmin);
        gap: 2vmin;
        margin: -12.5%;
        
        background-size: cover;
        background-position: center;
        background-color: darkgreen;
        border: solid black;
        justify-content: center;
        /* margin-bottom: 10px; */
        
      }
    
#board > div {
    border-radius: 10%;
    border: 5px solid black;
  }

#solidBorder {
  height: 150px;
  width: 160px;
  position: fixed;
  border: 5px solid darkgreen;
  top: 25.5%;
  right: 51vmin;
  color: bold black;


}

#message {
  display: flex;
  justify-content: center;
  background-color: 10px solid darkgreen;
  align-items: center;
  border: 5px solid darkgreen;
  width: 150px;
  height: 40px;
  position: fixed;
}

#reset {
  color: black;
  background-color: darkgreen;
  height: 20px;
  width: 50px;
}
words {
    text-align: center;

}

title {
  height: 10%;
  width: 44%;
  justify-content: center;
  display: grid;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative; 
  top: 0;
  color: solid black;
  left: 400px;
  /* margin: 40px; */
  font-size: 36px;
  padding-top: 10px;
  margin-top: 50px;
   

}
p {
  height: 10%;
  width: 44%;
  justify-content: center;
  display: grid;
  /* align-items: center; */
  background-size: cover;
  background-position: center;
  position: relative; 
  top: 0;
  color: solid darkgreen;
  left: 400px;
  margin-top: 20px;
  font-size: large;
  padding-top: 20px;
}

#playAgain {
  background-color: darkgreen;
  color: black;


}

#color1 {
  color: white;
  
}

#color2 {
  color: white;
}

#color3 {
  color: white;
}

#color4 {
  color: white;
}




